.header {
    background-color: $colorPrincipal;
    & &__logo {
        width: 100px;
        height: auto;
        span {
            font-family: sans-serif;
            font-size: 30px;
            background-color: black;
            color: $colorPrincipal;
        }
    }
    & &__menu {
        display: flex;
        ul {
            background-color: blueviolet;
            li {
                display: inline;
                list-style: none;
                a {
                    text-decoration: none;
                    color: red;
                    &:hover {
                        color: green;
                    }
                }
            }
        }
    }
    & &__buscar {
        width: 150px;
        input {
            width: 150px;
            height: 75px;
            &:focus {
                background-color: greenyellow;
            }
        }
    }
}